# Ignore datasets
dataset/
data/
*.tif
*.mat
*.h5
*.zip
*.tar
*.tar.gz
*.npy
*.pth
*.pkl
# Python 缓存
__pycache__/
*.py[cod]
*.so

# 训练输出
logs/
runs/
train_logs/
checkpoints/
results/
outputs/
wandb/
tensorboard/
*.log